.terraform/
*.tfstate
*.tfstate.backup
**/venv/
**/.venv/
.env
**/__pycache__
**/*.pyc
.git/
README.md
COMPARISON.md
.aws/
Dockerfile 
.dockerignore 
.streamlit/config.toml  
.streamlit/credentials.toml 
**/node_modules/
lambda/
lambda_function_payload.zip
data/