databases:
  - name: safekeep-db
    plan: free
    region: oregon

services:
  # Backend API
  - type: web
    name: safekeep-backend
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile.backend
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: safekeep-db
          property: connectionString
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        value: eu-north-1
      - key: S3_BUCKET_NAME
        sync: false
      - key: JWT_SECRET
        generateValue: true
    healthCheckPath: /health

  # Frontend
  - type: web
    name: safekeep-frontend
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./Dockerfile.frontend
    dockerContext: .
    envVars:
      - key: SAFEKEEP_API_URL
        value: https://safekeep-backend.onrender.com
