name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ] # Runs every time you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Replace 'your-username' with your actual Docker Hub username below
          tags: 2004asbah/safekeep-vault:latest


      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
         image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/safekeep-vault:secure'
         format: 'table'
         exit-code: '1'       # <--- THIS IS THE KEY: It fails the build if issues are found
         ignore-unfixed: true # Only show things you CAN actually fix
         vuln-type: 'os,library'
         severity: 'CRITICAL,HIGH'