name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ] # Runs every time you push to main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Replace 'your-username' with your actual Docker Hub username below
          tags: 2004asbah/safekeep-vault:latest